.header {
    color: #222;
    background: #f0eff7;
    /* background: #fff; */
    border: 1px solid #f1f0f3;
    border-radius: 10px;
    /* position: sticky;
    top: 0;
    z-index: 100; */
    width: 100%;
    padding: 20px 30px;
    text-align: right;
    margin-top: 50px;
    box-shadow: 0 0 5px #6145c40a;
}

.header i{
    color: #6145c4;
    /* color: #6045c4; */
    cursor: pointer;
    transition: 0.3s;
}

.header i:hover{
    color: #331b88;
}

.header .fa-bars {
    display: none; 
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
    vertical-align: middle;
}

/* 모바일 (480px 이하) */
@media screen and (max-width: 480px) {
  .header {
    margin: 0;
  }
  .header .fa-bars {
        display: inline-block;
    }
}