* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02em;
  cursor: url('https://cdn.cursors-4u.net/css-previews/dark-purple-glitter-pointer-7e363da9-css.webp') 0 0, auto !important;
  
}

body {
  overflow-x: hidden;
  background-color: #fafbfc;
}

#root{
  /* width: 70%; */
  width: 1100px;
  margin: 60px auto;
  margin-bottom: 0;
  /* background-color: #eff2f5; */
}

h1, h2, h3, h4, h5, h6, p, a, span{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

button, input, textarea, select {
  background: transparent;
  border: none;
  appearance: none;
  cursor: pointer;
}